@charset "utf-8";

%inline-block{display:inline-block;*display:inline;*zoom:1;vertical-align:top}

%sp-gnb{background-image:url(../im/sp_gnb.png);background-repeat:no-repeat;@extend %inline-block;vertical-align:top}
%sp-slide{@extend %sp-gnb;background-image:url(../im/sp_slide.png);border:0;@extend %blind;background-color:transparent}
i%sp-gnb,%blind i,%hidden{font:0/0 a;color:transparent;}

%clear{
	zoom:1;
	&:after{content:'';clear:both;height:0;display:block;visibility:hidden}
}

%layout{width:960px;margin:0 auto;position:relative;zoom:1}
