@charset "utf-8";

%bi{
	text-align:center;padding:50px 0 30px;
	i{@extend %sp-gnb;width:265px;height:55px;background-position:-20px 0}	
}
.wrap{@extend %inline-block;min-width:100%}

/* header */
.header{
	@extend %layout;margin-bottom:33px;z-index:30;
	.bi{@extend %bi}
	
	.gnb{
		@extend %sp-gnb;background-position:-300px 0;padding:5px 0 5px 73px;white-space:nowrap;font-size:0;
		li{background-color:#fff;@extend %inline-block;line-height:52px;height:52px;@extend %sp-gnb;background-position:209px 15px;position:relative;white-space:normal;font-size:14px}
		li a{color:#666;display:block;text-align:center;font-size:1.2em;width:210px}
		.membership{background-image:none}
		.reservation{height:50px;border:1px solid #299be1;background:url(../im/pt_gnb_reserve.png) repeat-x 0 0 #3baff6;overflow:hidden}
		.reservation a{color:#fff;}
		
		.sub{display:none}
		li.selected{
			a{position:relative;z-index:20;color:#fff}
			.sub{display:block}
		}
		.sub{
			position:absolute;top:0;left:0;width:100%;background-color:#002859;padding-top:55px;padding-bottom:14px;z-index:10;line-height:normal;
			li{background:none transparent;height:auto;line-height:35px;padding-bottom:3px}
			a{font-size:1.1em;&:hover{color:#299be1}}

		}
	}
}

.hero{
	@extend %layout;position:relative;margin-bottom:19px;height:463px;
		
}

.wrap.intro{
	position:absolute;top:0;bottom:0;left:0;right:0;background:none;
	.intro_header_cover{
		position:absolute;top:50px;width:100%;z-index:30;
		.bi{@extend %bi;min-width:1000px}
	}
	
	.intro_footer_cover{
		position:absolute;bottom:40px;z-index:30;width:100%;
		.footer{margin-bottom:0}
	}
	
	.intro_content_cover{
		position:absolute;left:0;top:0;width:100%;height:100%;z-index:20;min-width:1000px;text-align:center;overflow:hidden;cursor:default!important;		
		.skip_intro{position:absolute;top:0;bottom:0;left:0;right:0;z-index:30}
		.skip_intro a{display:block;width:524px;height:294px;background:url(../im/intro/intro_eng.png) no-repeat;position:absolute;left:50%;top:50%;margin:-146px 0 0 -262px}
		.skip_intro.lang_ko a{background-image:url(../im/intro/intro_kor.png)}
		
		#slider_container_main{position:relative;top:0px;left:0px;width:1600px;height:1080px;overflow:hidden;}
		#slider_container_main .cover{position:absolute;left:0px;top:0px;width:1600px;height:1080px;overflow:hidden;}
	}
	


}	
