@charset "utf-8";

%sp-gnb{background-image:url(../im/sp_gnb.png);background-repeat:no-repeat;@extend %inline-block;vertical-align:top}
%sp-slide{@extend %sp-gnb;background-image:url(../im/sp_slide.png);border:0;@extend %blind;background-color:transparent}
i%sp-gnb,%blind i{font:0/0 a;color:transparent;}

%clear{
	zoom:1;
	&:after{content:'';clear:both;height:0;display:block;visibility:hidden}
}

%layout{width:916px;margin:0 auto;position:relative;zoom:1}

.wrap{background:url(../im/bg_main_body.jpg) no-repeat center top;@extend %inline-block;min-width:100%}
/* header */
.header{
	@extend %layout;margin-bottom:33px;z-index:30;
	.bi{
		text-align:center;padding:50px 0 30px;
		i{@extend %sp-gnb;width:265px;height:55px;background-position:-20px 0}
	}
	
	.gnb{
		@extend %sp-gnb;background-position:-300px 0;padding:5px 0 5px 73px;white-space:nowrap;font-size:0;
		li{background-color:#fff;@extend %inline-block;line-height:52px;height:52px;@extend %sp-gnb;background-position:209px 15px;position:relative;white-space:normal;font-size:14px}
		li a{color:#666;display:block;text-align:center;font-size:1.2em;width:210px}
		.membership{background-image:none}
		.reservation{height:50px;border:1px solid #299be1;background:url(../im/pt_gnb_reserve.png) repeat-x 0 0 #3baff6;overflow:hidden}
		.reservation a{color:#fff;}
		
		.sub{display:none}
		li.selected{
			a{position:relative;z-index:20;color:#fff}
			.sub{display:block}
		}
		.sub{
			position:absolute;top:0;left:0;width:100%;background-color:#002859;padding-top:52px;z-index:10;line-height:normal;
			li{background:none transparent;height:auto;line-height:35px;padding-bottom:3px}
			a{font-size:1.1em;&:hover{color:#299be1}}

		}
	}
}

.hero{
	@extend %layout;position:relative;margin-bottom:19px;
		
}

.celebrity_intro{
	@extend %layout;width:954px;@extend %clear;margin-bottom:19px;
	li{padding:19px;float:left;}
	.thumbnail{
		width:280px;height:190px;position:relative;zoom:1;cursor:pointer;
		img{vertical-align:top}
		.subject{position:absolute;left:0;bottom:0;width:100%;height:35px;color:#fff;z-index:20;line-height:35px;text-indent:12px;font-size:0.9em}
		.deco{position:absolute;left:0;bottom:0;width:100%;height:35px;background-color:#002859;opacity:0.9;filter:alpha(opacity=90);z-index:10}
		.desc{position:absolute;top:50px;left:0;padding:0 5px 0 17px;font-size:0.8em;line-height:1.7em;z-index:20}
		.btn_more{background:url(../im/img_more.png) no-repeat;width:89px;height:27px;z-index:20;@extend %blind;display:block;margin-top:15px}
		.desc,.btn_more{display:none;color:#fff}
		
	}
	.hover .thumbnail{
		.deco{top:0;height:100%}
		.subject{top:0;bottom:auto;font-size:1.45em;font-weight:normal;padding-top:10px;text-indent:17px}
		.desc,.btn_more{display:block}
	}	
}

.footer{
	@extend %layout;background-color:#002f63;width:1000px;@extend %clear;margin-bottom:40px;
	.bi{
		float:left;padding:28px 68px 28px 26px;
		i{@extend %sp-gnb;width:160px;height:34px;background-position:0 -70px}		
	}
	.copyright{
		overflow:hidden;padding:33px 0 0 0;color:#fff;
		a{color:#fff;font-size:0.9em}
		.bar{padding:0 10px;font-size:0.9em}
		p{font-size:0.8em;padding-top:10px}
	}
	.connect_sns{position:absolute;right:0;top:0;padding:29px 29px 29px 0}
	.sns{color:#fff;@extend %inline-block;line-height:26px;padding:3px 0;margin-right:7px}
	.sns a{margin-left:5px}
	.youtube i{@extend %sp-gnb;width:26px;height:26px;background-position:-180px -70px}
	.facebook i{@extend %sp-gnb;width:26px;height:26px;background-position:-215px -70px}
	.twitter i{@extend %sp-gnb;width:33px;height:26px;background-position:-249px -70px}
	
}

.combobox{
	@extend %inline-block;position:relative;zoom:1;
	.cb-button{border:1px solid #fff;background:transparent;color:#fff;height:30px;line-height:30px;padding:0 12px;box-sizing:content-box;cursor:pointer}
	.arrow{width:11px;height:30px;@extend %sp-gnb;background-position:-306px -68px;margin-left:50px}
	.cb-layer{position:absolute;width:100%;top:100%;margin-top:-1px}
	.cb-layer ul{border:1px solid #fff;background-color:#002f63}
	.cb-layer a{color:#fff;display:block;padding:6px 12px 5px;}
	.cb-layer a:hover{color:#002f63;background-color:#fff}
	
}
	