@charset "utf-8";
$blue:#299be1;

.container{@extend %layout;width:1000px;background-color:#fff;border-top:7px solid $blue}

%sub-page{
	.header{margin-bottom:299px}
	.slider-body{height:545px}
	.slider-body .cover{width:920px;height:545px}
	.slider-body .caption{font-size:1.3em}
	/*
.slider-body{height:545px}
	.slider-body .cover{width:920px;height:545px}
	.slider-body .caption{color:#000;font-size:1.3em;line-height:45px;height:45px;color:#757575;padding:0 10px 0 0;bottom:0;background-color:transparent}
	.slider-nav{
		left:0;margin:0;background-color:#fff;padding:0 20px 0 0;
		button{@extend %sp-slide;width:26px;height:26px;background-position:4px -22px}
		button.av{background-position:-23px -22px}
	}	
*/
	.hero{height:545px}

}

%sub-tit{color:$blue;font-size:1.6em;text-align:left;padding-bottom:8px;font-weight:normal}
%sp-grade{background-image:url(../im/img_membership_grade.jpg);background-repeat:no-repeat}

.section_head{
	padding:40px;
	.tit{@extend %blind;height:91px;background-repeat:no-repeat}
// 텍스트형 타이틀	.tit{font-style:normal;font-size:2.7em;color:$blue;font-weight:normal;line-height:1.3em}
	.section_list{
		border-collapse:collapse;table-layout:fixed;position:absolute;right:41px;top:43px;
		td{border:1px solid #e4e4e4;text-align:center;line-height:18px;padding:5px 5px;letter-spacing:-1px;min-width:118px}
		td a{color:#999;font-size:0.85em;}
		td.selected{border:1px solid $blue;background-color:$blue}
		td.selected a{color:#fff}
	}
}
.page_intro{
	@extend %sub-page;
	.section_head .tit{background-image:url(../im/tit_head_intro.png);width:420px}
}

.page_club{
	@extend %sub-page;
	.section_head .tit{background-image:url(../im/tit_head_club.png);width:492px}
}
.page_room{
	@extend %sub-page;
	.section_head .tit{background-image:url(../im/tit_head_room.png);width:380px}
}
.page_sail{
	@extend %sub-page;
	.section_head .tit{background-image:url(../im/tit_head_sail.png);width:380px}
}
.page_activity{
	@extend %sub-page;
	.section_head .tit{background-image:url(../im/tit_head_activity.png);width:299px}
}
.page_spa{
	@extend %sub-page;
	.section_head .tit{background-image:url(../im/tit_head_spa.png);width:351px}
}
.page_enter{
	@extend %sub-page;
	.section_head .tit{background-image:url(../im/tit_head_enter.png);width:416px}
}

.page_res{
	@extend %sub-page;
	.section_head .tit{background-image:url(../im/tit_head_res.png);width:440px}
}
.page_ship{
	@extend %sub-page;
	.section_head .tit{background-image:url(../im/tit_head_ship.png);width:490px}
}

.article{
	@extend %layout;width:920px;color:#757575;margin-bottom:98px;z-index:20;
	.desc{font-size:1.6em;line-height:1.45em;color:#666}
	.sub_tit{@extend %sub-tit}
	.info_list{left:-19px;padding-top:50px}
	
	.image_cover{display:block;padding-top:20px;img{vertical-align:top}}
	.btns{text-align:center;padding-top:20px}
}

.symbol_ship{
	background-repeat:no-repeat;width:920px;height:370px;margin-top:50px;position:relative;zoom:1;
	.tit{color:#fff;font-size:1.6em;margin-bottom:10px;padding:32px 0 0 44px}
	.desc{color:#fff;font-size:1.15em;line-height:1.5em;width:350px;padding-left:44px}
	&.solstice_class{background-image:url(../im/ship/img_ship_solstice.jpg);z-index:19}
	&.millennium_class{background-image:url(../im/ship/img_ship_millennium.jpg);z-index:18}
	&.century_class{background-image:url(../im/ship/img_ship_century.jpg);z-index:17}
	&.xpedition_class{background-image:url(../im/ship/img_ship_xpedition.jpg);z-index:16}
	
	.combox-box{
		position:absolute;top:289px;left:45px;@extend %inline-block;
		.cb-label{width:100%;text-align:left;background-color:#299be1;color:#fff;border:0;border-radius:0;padding:0 50px 0 15px;height:50px;line-height:50px;position:relative;zoom:1;font-size:1.2em;cursor:pointer}
		.arrow{@extend %sp-gnb;width:35px;height:32px;background-position:-339px -72px;position:absolute;right:14px;top:9px}
		.cb-list{background-color:#299be1;height:0;overflow:hidden}
		.cb-list a{color:#fff;display:block;height:38px;line-height:38px;padding:0 25px 0 15px;font-size:1.2em;}
		.cb-list a .en{font-size:0.7em}
		.cb-list a:hover{background-color:#002f63}		
		&.open .cb-list{height:auto;overflow:visible}
	}
}

