@charset "utf-8";
$blue:#299be1;

.container{@extend %layout;width:1000px;background-color:#fff;border-top:7px solid $blue}

%sub-page{
	.header{margin-bottom:299px}
	.slider-body{height:545px}
	.slider-body .cover{width:920px;height:545px}
	.slider-body .caption{color:#000;font-size:1.3em;line-height:45px;height:45px;color:#757575;padding-right:10px}
	.slider-nav{
		left:0;margin:0;background-color:#fff;padding:0 20px 0 0;
		button{@extend %sp-slide;width:26px;height:26px;background-position:4px -22px}
		button.av{background-position:-23px -22px}
	}	
}

%sub-tit{color:$blue;font-size:1.6em;text-align:left;padding-bottom:8px;font-weight:normal}
%sp-grade{background-image:url(../im/img_membership_grade.jpg);background-repeat:no-repeat}

.section_head{
	padding:40px;
	.tit{@extend %blind}
// 텍스트형 타이틀	.tit{font-style:normal;font-size:2.7em;color:$blue;font-weight:normal;line-height:1.3em}
	.section_list{
		border-collapse:collapse;table-layout:fixed;position:absolute;right:41px;top:43px;
		td{border:1px solid #e4e4e4;text-align:center;line-height:18px;padding:5px 5px;letter-spacing:-1px;min-width:118px}
		td a{color:#999;font-size:0.85em;}
		td.selected{border:1px solid $blue;background-color:$blue}
		td.selected a{color:#fff}
	}
}

.page_club{
	@extend %sub-page;
	.section_head .tit{background:url(../im/tit_head_club.png) no-repeat;width:492px;height:91px}
}
.page_room{
	@extend %sub-page;
	.section_head .tit{background:url(../im/tit_head_room.png) no-repeat;width:380px;height:91px}
}
.page_sail{
	@extend %sub-page;
	.section_head .tit{background:url(../im/tit_head_sail.png) no-repeat;width:380px;height:91px}
}


.article{
	@extend %layout;width:920px;color:#757575;margin-bottom:98px;
	.desc{font-size:1.6em;line-height:1.45em}
	.sub_tit{@extend %sub-tit}
	.info_list{left:-19px;padding-top:50px}
}
