@charset "utf-8";
$footer-color:#002f63;
.footer{
	@extend %layout;width:960px;margin-bottom:40px;
	.bot_menu{border-top:6px solid $footer-color;padding:23px 0;line-height:18px;font-size:0;text-align:center}
	.bot_menu a{color:$footer-color;font-size:13px}
	.bot_menu .bar{height:14px;@extend %inline-block;border-right:1px solid $footer-color;padding-left:15px;margin-right:14px;vertical-align:top;position:relative;top:2px}
	.footer_cover{background-color:$footer-color;@extend %clear;position:relative;zoom:1}
	.bi{
		float:left;padding:28px 44px 28px 39px;
		i{@extend %sp-gnb;width:160px;height:34px;background-position:0 -70px}		
	}
	.copyright{
		overflow:hidden;padding:14px 0 0 0;color:#fff;
		address{font-size:1em;color:#fff;display:block;margin-bottom:5px}
		a{color:#d1d5dd}
		p{font-size:0.85em;line-height:15px;color:#d1d5dd}
	}
	.connect_sns{position:absolute;right:0;top:0;padding:14px 29px 29px 0}
	.sns{color:#fff;@extend %inline-block;line-height:20px;padding:3px 0;font-size:0.9em}
	.sns a{margin-left:1px}
	.sns a i{@extend %sp-gnb;width:20px;height:20px}
	.facebook i{background-position:-168px -70px}
	.twitter i{background-position:-193px -70px}
	.naver i{background-position:-218px -70px}
	.flickr i{background-position:-243px -70px}
	.youtube i{background-position:-268px -70px}
	
	
	
}

.combobox{
	@extend %inline-block;position:absolute;right:29px;top:44px;zoom:1;
	.cb-button{border:1px solid #fff;background:transparent;color:#fff;height:30px;line-height:30px;padding:0 12px;box-sizing:content-box;cursor:pointer;white-space:nowrap;min-width:180px;text-align:left}
	.arrow{width:11px;height:30px;@extend %sp-gnb;background-position:-306px -68px;position:absolute;right:12px;top:1px}
	.cb-layer{position:absolute;width:100%;top:100%;margin-top:-1px}
	.cb-layer ul{border:1px solid #fff;background-color:$footer-color;border-bottom:0}
	.cb-layer a{color:#fff;display:block;padding:6px 12px 5px;}
	.cb-layer a:hover{color:$footer-color;background-color:#fff}
	
}
	