@charset "UTF-8";
/*  Nanum Gothic (Korean) http://www.google.com/webfonts/earlyaccess */
@font-face { font-family: 'Nanum Gothic'; font-style: normal; font-weight: 700; src: url(../font/NanumGothic-Bold.eot); src: url(../font/NanumGothic-Bold.eot?#iefix) format("embedded-opentype"), url(../font/NanumGothic-Bold.woff2) format("woff2"), url(../font/NanumGothic-Bold.woff) format("woff"), url(../font/NanumGothic-Bold.ttf) format("truetype"); }
@font-face { font-family: 'Nanum Gothic'; font-style: normal; font-weight: 400; src: url(../font/NanumGothic-Regular.eot); src: url(../font/NanumGothic-Regular.eot?#iefix) format("embedded-opentype"), url(../font/NanumGothic-Regular.woff2) format("woff2"), url(../font/NanumGothic-Regular.woff) format("woff"), url(../font/NanumGothic-Regular.ttf) format("truetype"); }
@font-face { font-family: 'Nanum Gothic'; font-style: normal; font-weight: 800; src: url(../font/NanumGothic-ExtraBold.eot); src: url(../font/NanumGothic-ExtraBold.eot?#iefix) format("embedded-opentype"), url(../font/NanumGothic-ExtraBold.woff2) format("woff2"), url(../font/NanumGothic-ExtraBold.woff) format("woff"), url(../font/NanumGothic-ExtraBold.ttf) format("truetype"); }
/* common */
body, p, h1, h2, h3, h4, h5, h6, menu, ul, ol, li, dl, dt, dd, table, th, td, form, fieldset, legend, input, textarea, button, select { margin: 0; padding: 0; }

body, input, textarea, select, button { font-family: 'Nanum Gothic','Apple SD Gothic Neo','Dotum','돋움',Sans-serif; font-size: 14px; }

img, fieldset { border: 0; }

menu, ul, ol { list-style: none; }

em, address { font-style: normal; }

a, a:link { text-decoration: none; }

/* For Screen Reader */
legend, .blind { position: absolute; top: 0; left: 0; width: 0; height: 0; overflow: hidden; visibility: hidden; font-size: 0; line-height: 0; }

.ht { position: absolute; }

.blind, .u_skip { visibility: hidden; overflow: hidden; position: absolute; left: -999em; width: 0; height: 0; font-size: 0; color: transparent; line-height: 0; }

.slider-nav button, .footer .bi i, .footer .sns a i, .combobox .arrow, .header .bi i, .wrap.intro .intro_header_cover .bi i, .header .gnb, .header .gnb li, .symbol_ship .combox-box .arrow, .footer .bot_menu .bar, .footer .sns, .combobox, .wrap, .symbol_ship .combox-box, .symbol_thumbnail .grade .thumb_img, .symbol_thumbnail .grade .subs, .symbol_thumbnail .view_membership, .symbol_thumbnail .ask_membership, .info_list .thumbnail .btn_more_bahamas, .info_list .thumbnail .btn_more_bermuda { display: inline-block; *display: inline; *zoom: 1; vertical-align: top; }

.slider-nav button, .footer .bi i, .footer .sns a i, .combobox .arrow, .header .bi i, .wrap.intro .intro_header_cover .bi i, .header .gnb, .header .gnb li, .symbol_ship .combox-box .arrow { background-image: url(../im/sp_gnb.png); background-repeat: no-repeat; vertical-align: top; }

.slider-nav button { background-image: url(../im/sp_slide.png); border: 0; background-color: transparent; }

.footer .bi i, .footer .sns a i, .combobox i.arrow, .header .bi i, .wrap.intro .intro_header_cover .bi i, .header i.gnb, .symbol_ship .combox-box i.arrow, .slider-nav button i, .section_head .tit i, .symbol_thumbnail .view_membership i, .symbol_thumbnail .ask_membership i, .info_list .thumbnail .btn_more i, .info_list .thumbnail .btn_more_bahamas i, .info_list .thumbnail .btn_more_bermuda i, .info_list .thumbnail .btn_srch_schd i, .slider-nav button span { font: 0/0 a; color: transparent; }

.footer .footer_cover, .symbol_thumbnail .grade, .info_list ul { zoom: 1; }
.footer .footer_cover:after, .symbol_thumbnail .grade:after, .info_list ul:after { content: ''; clear: both; height: 0; display: block; visibility: hidden; }

.footer, .header, .hero, .container, .article, .info_list { width: 960px; margin: 0 auto; position: relative; zoom: 1; }

.wrap { background: url(../im/body_bg/bg_main_body.jpg) no-repeat center top; }
.wrap.page_intro { background-image: url(../im/body_bg/bg_intro_body.jpg); }
.wrap.page_club { background-image: url(../im/body_bg/bg_club_body.jpg); }
.wrap.page_room { background-image: url(../im/body_bg/bg_room_body.jpg); }
.wrap.page_sail { background-image: url(../im/body_bg/bg_sail_body.jpg); }
.wrap.page_activity { background-image: url(../im/body_bg/bg_activity_body.jpg); }
.wrap.page_spa { background-image: url(../im/body_bg/bg_spa_body.jpg?1); }
.wrap.page_enter { background-image: url(../im/body_bg/bg_enter_body.jpg); }
.wrap.page_res { background-image: url(../im/body_bg/bg_res_body.jpg); }
.wrap.page_ship { background-image: url(../im/body_bg/bg_ship_body.jpg); }

.slider-loading { position: absolute; top: 0; left: 0; /* .dimmed{filter:alpha(opacity=70);opacity:0.7;background-color:#000;} */ /* 	.loading{background: url(../img/loading.gif) no-repeat center center;} */ }
.slider-loading .dimmed, .slider-loading .loading { position: absolute; display: block; top: 0; left: 0; width: 100%; height: 100%; }

.slider-body { height: 374px; overflow: hidden; zoom: 1; background-color: #fff; }
.slider-body .cover { position: absolute; left: 0; top: 0; overflow: hidden; width: 880px; height: 374px; }
.slider-body .item { position: absolute; background-color: #fff; }
.slider-body .caption { position: absolute; bottom: 0; right: 0; text-align: right; line-height: 30px; height: 32px; color: #757575; font-size: 0.85em; padding: 0 10px 0 0; }
.slider-body img { vertical-align: top; }

.slider-nav { position: absolute; bottom: 5px; left: 0; margin: 0; font-size: 0; background-color: #fff; padding: 0 20px 0 5px; }
.slider-nav button { width: 22px; height: 24px; background-position: 5px -21px; cursor: pointer; margin-left: 5px; }
.slider-nav button.av { background-position: -22px -21px; }

.footer { width: 960px; margin-bottom: 40px; }
.footer .bot_menu { border-top: 6px solid #002f63; padding: 23px 0; line-height: 18px; font-size: 0; text-align: center; }
.footer .bot_menu a { color: #002f63; font-size: 13px; }
.footer .bot_menu .bar { height: 14px; border-right: 1px solid #002f63; padding-left: 15px; margin-right: 14px; vertical-align: top; position: relative; top: 2px; }
.footer .footer_cover { background-color: #002f63; position: relative; zoom: 1; }
.footer .bi { float: left; padding: 28px 44px 28px 39px; }
.footer .bi i { width: 160px; height: 34px; background-position: 0 -70px; }
.footer .copyright { overflow: hidden; padding: 14px 0 0 0; color: #fff; }
.footer .copyright address { font-size: 1em; color: #fff; display: block; margin-bottom: 5px; }
.footer .copyright a { color: #d1d5dd; }
.footer .copyright p { font-size: 0.85em; line-height: 15px; color: #d1d5dd; }
.footer .connect_sns { position: absolute; right: 0; top: 0; padding: 14px 29px 29px 0; }
.footer .sns { color: #fff; line-height: 20px; padding: 3px 0; font-size: 0.9em; }
.footer .sns a { margin-left: 1px; }
.footer .sns a i { width: 20px; height: 20px; }
.footer .facebook i { background-position: -168px -70px; }
.footer .twitter i { background-position: -193px -70px; }
.footer .naver i { background-position: -218px -70px; }
.footer .flickr i { background-position: -243px -70px; }
.footer .youtube i { background-position: -268px -70px; }

.combobox { position: absolute; right: 29px; top: 44px; zoom: 1; }
.combobox .cb-button { border: 1px solid #fff; background: transparent; color: #fff; height: 30px; line-height: 30px; padding: 0 12px; box-sizing: content-box; cursor: pointer; white-space: nowrap; min-width: 180px; text-align: left; }
.combobox .arrow { width: 11px; height: 30px; background-position: -306px -68px; position: absolute; right: 12px; top: 1px; }
.combobox .cb-layer { position: absolute; width: 100%; top: 100%; margin-top: -1px; }
.combobox .cb-layer ul { border: 1px solid #fff; background-color: #002f63; border-bottom: 0; }
.combobox .cb-layer a { color: #fff; display: block; padding: 6px 12px 5px; }
.combobox .cb-layer a:hover { color: #002f63; background-color: #fff; }

.header .bi, .wrap.intro .intro_header_cover .bi { text-align: center; padding: 20px 0 15px; }
.header .bi i, .wrap.intro .intro_header_cover .bi i { width: 242px; height: 50px; background-position: -32px 0; }

.wrap { min-width: 100%; }

/* header */
.header { margin-bottom: 20px; z-index: 30; }
.header .gnb { background-position: -300px 0; padding: 5px 0 5px 70px; white-space: nowrap; font-size: 0; }
.header .gnb li { background-color: #fff; line-height: 50px; height: 52px; background-position: 220px 15px; position: relative; white-space: normal; font-size: 14px; }
.header .gnb li a { color: #666; display: block; text-align: center; font-size: 1.1em; width: 221px; }
.header .gnb .membership { background-image: none; }
.header .gnb .reservation { height: 50px; border: 1px solid #299be1; background: url(../im/pt_gnb_reserve.png) repeat-x 0 0 #3baff6; overflow: hidden; }
.header .gnb .reservation a { color: #fff; width: 225px; }
.header .gnb .sub { display: none; }
.header .gnb li.selected a { position: relative; z-index: 20; color: #fff; }
.header .gnb li.selected .sub { display: block; }
.header .gnb .sub { position: absolute; top: 0; left: 0; width: 100%; background-color: #002859; padding-top: 55px; padding-bottom: 14px; z-index: 10; line-height: normal; }
.header .gnb .sub li { background: none transparent; height: auto; line-height: 35px; padding-bottom: 3px; }
.header .gnb .sub a { font-size: 1em; }
.header .gnb .sub a:hover { color: #299be1; }

.hero { position: relative; margin-bottom: 10px; width: 880px; height: 374px; }

.page_main .hero { height: 452px; width: 960px; margin-bottom: 30px; }
.page_main .hero .slider-body { height: 452px; }
.page_main .hero .slider-body .cover { width: 960px; height: 452px; }

.info_list.info_list_main { width: 901px; }

.wrap.intro { position: absolute; top: 0; bottom: 0; left: 0; right: 0; background: none; }
.wrap.intro .intro_header_cover { position: absolute; top: 50px; width: 100%; z-index: 30; }
.wrap.intro .intro_header_cover .bi { min-width: 1000px; }
.wrap.intro .intro_footer_cover { position: absolute; bottom: 40px; z-index: 30; width: 100%; }
.wrap.intro .intro_footer_cover .footer { margin-bottom: 0; }
.wrap.intro .intro_content_cover { position: absolute; left: 0; top: 0; width: 100%; height: 100%; z-index: 20; min-width: 1000px; text-align: center; overflow: hidden; cursor: default !important; }
.wrap.intro .intro_content_cover .skip_intro { position: absolute; top: 0; bottom: 0; left: 0; right: 0; z-index: 30; }
.wrap.intro .intro_content_cover .skip_intro a { display: block; width: 430px; height: 320px; background: url(../im/intro/intro_txt_eng.png?3) no-repeat; position: absolute; left: 50%; top: 50%; margin: -160px 0 0 -215px; }
.wrap.intro .intro_content_cover .skip_intro.lang_ko a { background-image: url(../im/intro/intro_txt_kor.png?2); }
.wrap.intro .intro_content_cover #slider_container_main { position: relative; top: 0px; left: 0px; width: 1600px; height: 1080px; overflow: hidden; }
.wrap.intro .intro_content_cover #slider_container_main .cover { position: absolute; left: 0px; top: 0px; width: 1600px; height: 1080px; overflow: hidden; }

.container { width: 960px; background-color: #fff; border-top: 3px solid #299be1; }

.page_intro, .page_club, .page_room, .page_sail, .page_activity, .page_spa, .page_enter, .page_res, .page_ship { 	/*
.slider-body{height:545px}
	.slider-body .cover{width:920px;height:545px}
	.slider-body .caption{color:#000;font-size:1.3em;line-height:45px;height:45px;color:#757575;padding:0 10px 0 0;bottom:0;background-color:transparent}
	.slider-nav{
		left:0;margin:0;background-color:#fff;padding:0 20px 0 0;
		button{@extend %sp-slide;width:26px;height:26px;background-position:4px -22px}
		button.av{background-position:-23px -22px}
	}	
*/ }
.page_intro .slider-body, .page_club .slider-body, .page_room .slider-body, .page_sail .slider-body, .page_activity .slider-body, .page_spa .slider-body, .page_enter .slider-body, .page_res .slider-body, .page_ship .slider-body { height: 374px; }
.page_intro .hero, .page_club .hero, .page_room .hero, .page_sail .hero, .page_activity .hero, .page_spa .hero, .page_enter .hero, .page_res .hero, .page_ship .hero { height: 374px; }

.article .sub_tit, .symbol_table caption { color: #299be1; font-size: 1.15em; text-align: left; padding-bottom: 8px; font-weight: normal; }

.symbol_thumbnail .grade .thumb_img, .symbol_thumbnail .view_membership, .symbol_thumbnail .ask_membership { background-image: url(../im/img_membership_grade.jpg); background-repeat: no-repeat; }

.section_head { padding: 28px 40px; }
.section_head .tit { height: 70px; background-repeat: no-repeat; }
.section_head .section_list { border-collapse: collapse; table-layout: fixed; position: absolute; right: 40px; top: 24px; }
.section_head .section_list td { border: 1px solid #e4e4e4; text-align: center; line-height: 18px; padding: 2px 5px; letter-spacing: -1px; min-width: 118px; }
.section_head .section_list td a { color: #999; font-size: 0.80em; display: block; }
.section_head .section_list td.selected { border: 1px solid #299be1; background-color: #299be1; }
.section_head .section_list td.selected a { color: #fff; }

.page_intro .section_head .tit { background-image: url(../im/tit_01.png); width: 420px; }

.page_club .section_head .tit { background-image: url(../im/tit_09.png); width: 492px; }

.page_room .section_head .tit { background-image: url(../im/tit_08.png); width: 380px; }

.page_sail .section_head .tit { background-image: url(../im/tit_03.png); width: 290px; }

.page_activity .section_head .tit { background-image: url(../im/tit_04.png); width: 299px; }

.page_spa .section_head .tit { background-image: url(../im/tit_06.png); width: 351px; }

.page_enter .section_head .tit { background-image: url(../im/tit_07.png); width: 416px; }

.page_res .section_head .tit { background-image: url(../im/tit_head_res.png); width: 440px; }

.page_ship .section_head .tit { background-image: url(../im/tit_02.png); width: 490px; }

.article { width: 880px; color: #757575; margin-bottom: 98px; z-index: 20; }
.article .desc { font-size: 1em; line-height: 1.45em; color: #666; }
.article .info_list { left: -10px; padding-top: 20px; }
.article .info_list.large_list { left: -10px; }
.article .image_cover { display: block; padding-top: 20px; }
.article .image_cover img { vertical-align: top; }
.article .btns { text-align: center; padding-top: 42px; }
.article .btns img { vertical-align: top; }
.article .canyon_spa { border: 1px solid #999; padding: 2px; }
.article .canyon_spa .image_cover { border: 1px solid #999; background: url(../im/img_article_spa.jpg) no-repeat 0 18px; padding: 18px 30px 18px 305px; font-size: 1em; line-height: 1.6em; min-height: 65px; }

.symbol_ship { background-repeat: no-repeat; width: 880px; height: 370px; margin-top: 20px; position: relative; zoom: 1; }
.symbol_ship .tit { color: #fff; font-size: 1.2em; margin-bottom: 10px; padding: 32px 0 0 44px; }
.symbol_ship .desc { color: #fff; font-size: 0.85em; line-height: 1.7em; width: 300px; padding-left: 44px; text-align: justify; }
.symbol_ship.solstice_class { background-image: url(../im/ship/img_ship_solstice.jpg); background-position: -40px 0; z-index: 19; margin-top: 30px; }
.symbol_ship.millennium_class { background-image: url(../im/ship/img_ship_millennium.jpg); background-position: -40px 0; z-index: 18; }
.symbol_ship.century_class { background-image: url(../im/ship/img_ship_century.jpg); background-position: -40px 0; z-index: 17; }
.symbol_ship.xpedition_class { background-image: url(../im/ship/img_ship_xpedition.jpg); background-position: -40px 0; z-index: 16; }
.symbol_ship .combox-box { position: absolute; top: 289px; left: 45px; }
.symbol_ship .combox-box .cb-label { width: 100%; text-align: left; background-color: #299be1; color: #fff; border: 0; border-radius: 0; padding: 0 50px 0 15px; height: 50px; line-height: 50px; position: relative; zoom: 1; font-size: 1em; cursor: pointer; }
.symbol_ship .combox-box .arrow { width: 35px; height: 32px; background-position: -339px -72px; position: absolute; right: 14px; top: 9px; }
.symbol_ship .combox-box .cb-list { background-color: #299be1; height: 0; overflow: hidden; }
.symbol_ship .combox-box .cb-list a { color: #fff; display: block; height: 38px; line-height: 38px; padding: 0 25px 0 15px; font-size: .85em; }
.symbol_ship .combox-box .cb-list a .en { font-size: 0.9em; }
.symbol_ship .combox-box .cb-list a:hover { background-color: #002f63; }
.symbol_ship .combox-box.open .cb-list { height: auto; overflow: visible; }

.symbol_table { padding: 35px 0; }
.symbol_table table { width: 100%; table-layout: fixed; border-collapse: collapse; }
.symbol_table th, .symbol_table td { line-height: 20px; padding: 10px 0; text-align: center; font-weight: normal; font-size: 0.85em; }
.symbol_table th { background-color: #299be1; color: #fff; border: 1px solid #299be1; }
.symbol_table th:first-child { border-right: 1px solid #e4e4e4; }
.symbol_table td { border: 1px solid #e4e4e4; color: #666; }
.symbol_table tfoot td { border: 0; text-align: left; font-size: 0.85em; }

.symbol_thumbnail .grade { width: 931px; margin-left: -10px; margin-bottom: 42px; }
.symbol_thumbnail .grade li { width: 287px; height: 315px; margin-left: 10px; float: left; overflow: hidden; }
.symbol_thumbnail .grade .thumb_img { width: 300px; height: 181px; margin-bottom: 15px; }
.symbol_thumbnail .grade strong { font-size: 1em; height: 22px; display: block; line-height: 22px; padding-left: 9px; margin-bottom: 10px; position: relative; zoom: 1; }
.symbol_thumbnail .grade strong .sup { font-size: 0.65em; position: relative; top: -6px; }
.symbol_thumbnail .grade .credit { position: absolute; right: 0; top: 0; border-radius: 4px; color: #fff; font-size: 0.8em; line-height: 22px; height: 22px; padding: 0 8px; font-weight: normal; }
.symbol_thumbnail .grade .credit em { font-weight: bold; }
.symbol_thumbnail .grade .subs { padding-left: 10px; color: #757575; font-size: 0.85em; line-height: 1.5em; text-align: justify; }
.symbol_thumbnail .grade .preview .thumb_img { background-position: 0 0; }
.symbol_thumbnail .grade .preview strong { color: #5ba432; }
.symbol_thumbnail .grade .preview .credit { background-color: #5ba432; }
.symbol_thumbnail .grade .classic .thumb_img { background-position: -311px 0; }
.symbol_thumbnail .grade .classic strong { color: #389bd1; }
.symbol_thumbnail .grade .classic .credit { background-color: #389bd1; }
.symbol_thumbnail .grade .select { width: 286px; }
.symbol_thumbnail .grade .select .thumb_img { background-position: -621px 0; }
.symbol_thumbnail .grade .select strong { color: #f1711a; }
.symbol_thumbnail .grade .select .credit { background-color: #f1711a; }
.symbol_thumbnail .grade .elite .thumb_img { background-position: 0 -206px; }
.symbol_thumbnail .grade .elite strong { color: #58595b; }
.symbol_thumbnail .grade .elite .credit { background-color: #58595b; }
.symbol_thumbnail .grade .elite_plus .thumb_img { background-position: -311px -206px; }
.symbol_thumbnail .grade .elite_plus strong { color: #a1231d; }
.symbol_thumbnail .grade .elite_plus .credit { background-color: #a1231d; }
.symbol_thumbnail .grade .zenith { width: 286px; }
.symbol_thumbnail .grade .zenith .thumb_img { background-position: -621px -206px; }
.symbol_thumbnail .grade .zenith strong { color: #0a0a0a; }
.symbol_thumbnail .grade .zenith .credit { background-color: #0a0a0a; }
.symbol_thumbnail .btns { padding-top: 0; }
.symbol_thumbnail .view_membership, .symbol_thumbnail .ask_membership { width: 380px; height: 68px; background-position: 0 -407px; margin-right: 16px; }
.symbol_thumbnail .ask_membership { width: 400px; background-position: -400px -407px; margin-right: 0; }

.info_list { width: 920px; margin-bottom: 19px; }
.info_list li { padding: 10px; float: left; }
.info_list .thumbnail { width: 280px; height: 190px; position: relative; zoom: 1; cursor: pointer; }
.info_list .thumbnail img { vertical-align: top; }
.info_list .thumbnail .subject { position: absolute; left: 0; bottom: 0; width: 100%; height: 34px; color: #fff; z-index: 20; line-height: 35px; text-indent: 12px; font-size: 0.8em; font-weight: normal; }
.info_list .thumbnail .period { display: none; }
.info_list .thumbnail .deco { position: absolute; left: 0; bottom: 0; width: 100%; height: 34px; background-color: #002859; opacity: 0.9; filter: alpha(opacity=90); z-index: 10; }
.info_list .thumbnail .desc { position: absolute; top: 50px; left: 0; padding: 0 14px 0 16px; font-size: 0.8em; line-height: 1.7em; z-index: 20; text-align: justify; }
.info_list .thumbnail .btn_more, .info_list .thumbnail .btn_more_bahamas, .info_list .thumbnail .btn_more_bermuda, .info_list .thumbnail .btn_srch_schd { background: url(../im/img_more.png) no-repeat; width: 89px; height: 27px; z-index: 20; display: block; margin-top: 15px; }
.info_list .thumbnail .btn_srch_schd { background-position: 0 -148px; width: 97px; }
.info_list .thumbnail .desc, .info_list .thumbnail .btn_more, .info_list .thumbnail .btn_more_bahamas, .info_list .thumbnail .btn_more_bermuda { display: none; color: #fff; }
.info_list .thumbnail .btn_more_bahamas, .info_list .thumbnail .btn_more_bermuda { width: 108px; background-position: 0 -37px; margin-right: 7px; margin-top: 7px; }
.info_list .thumbnail .btn_more_bermuda { background-position: 0 -74px; margin-right: 0; }
.info_list .hover .thumbnail .deco { top: 0; height: 100% !important; }
.info_list .hover .thumbnail .subject { top: 0; bottom: auto; font-size: 1em; font-weight: normal; padding-top: 10px; text-indent: 17px; }
.info_list .hover .thumbnail .period { display: inline; font-size: 0.8em; }
.info_list .hover .thumbnail .desc, .info_list .hover .thumbnail .btn_more, .info_list .hover .thumbnail .btn_more_bahamas, .info_list .hover .thumbnail .btn_more_bermuda { display: block; }
.info_list .hover .thumbnail .btn_more_bahamas, .info_list .hover .thumbnail .btn_more_bermuda { display: inline-block; }
.info_list .hover .thumbnail .en { display: none; }
.info_list.large_list li { padding: 10px; }
.info_list.large_list .thumbnail { width: 430px; height: 290px; overflow: hidden; }
.info_list.large_list .thumbnail .subject { height: 45px; line-height: 45px; font-size: 1em; font-weight: normal; text-indent: 18px; }
.info_list.large_list .thumbnail .deco { height: 45px; }
.info_list.large_list .thumbnail .btn_more, .info_list.large_list .thumbnail .btn_more_bahamas, .info_list.large_list .thumbnail .btn_more_bermuda { background-position: 0 -111px; width: 102px; }
.info_list.large_list .hover .thumbnail .subject { font-size: 1.15em; text-indent: 28px; }
.info_list.large_list .hover .thumbnail .desc { font-size: 0.85em; padding-left: 28px; top: 52px; }

.symbol_intro { border: 2px solid #eaeaea; padding: 45px 43px; margin: 45px 0 0; }
.symbol_intro .image { margin-bottom: 40px; text-align: center; }
.symbol_intro .image img { vertical-align: top; }
.symbol_intro .desc { text-align: center; font-size: 1em; line-height: 1.6em; letter-spacing: -1px; }
.symbol_intro .large_txt { font-size: 1.3em; line-height: 1.8em; }
.symbol_intro .large_txt strong { color: #003468; }
.symbol_intro .part { background: url(../im/ico_intro_bullet.png) no-repeat center top; padding-top: 50px; margin-top: 30px; text-align: center; }
.symbol_intro .part h4 { font-size: 1.6em; color: #299be1; margin-bottom: 10px; }

/*# sourceMappingURL=celebrity.css.map */
