@charset "UTF-8";
/*  Nanum Gothic (Korean) http://www.google.com/webfonts/earlyaccess */
@font-face { font-family: 'Nanum Gothic'; font-style: normal; font-weight: 700; src: url(../font/NanumGothic-Bold.eot); src: url(../font/NanumGothic-Bold.eot?#iefix) format("embedded-opentype"), url(../font/NanumGothic-Bold.woff2) format("woff2"), url(../font/NanumGothic-Bold.woff) format("woff"), url(../font/NanumGothic-Bold.ttf) format("truetype"); }
@font-face { font-family: 'Nanum Gothic'; font-style: normal; font-weight: 400; src: url(../font/NanumGothic-Regular.eot); src: url(../font/NanumGothic-Regular.eot?#iefix) format("embedded-opentype"), url(../font/NanumGothic-Regular.woff2) format("woff2"), url(../font/NanumGothic-Regular.woff) format("woff"), url(../font/NanumGothic-Regular.ttf) format("truetype"); }
@font-face { font-family: 'Nanum Gothic'; font-style: normal; font-weight: 800; src: url(../font/NanumGothic-ExtraBold.eot); src: url(../font/NanumGothic-ExtraBold.eot?#iefix) format("embedded-opentype"), url(../font/NanumGothic-ExtraBold.woff2) format("woff2"), url(../font/NanumGothic-ExtraBold.woff) format("woff"), url(../font/NanumGothic-ExtraBold.ttf) format("truetype"); }
/* common */
body, p, h1, h2, h3, h4, h5, h6, menu, ul, ol, li, dl, dt, dd, table, th, td, form, fieldset, legend, input, textarea, button, select { margin: 0; padding: 0; }

body, input, textarea, select, button { font-family: 'Nanum Gothic','Apple SD Gothic Neo','Dotum','돋움',Sans-serif; font-size: 14px; }

img, fieldset { border: 0; }

menu, ul, ol { list-style: none; }

em, address { font-style: normal; }

a, a:link { text-decoration: none; }

/* For Screen Reader */
legend, .blind { position: absolute; top: 0; left: 0; width: 0; height: 0; overflow: hidden; visibility: hidden; font-size: 0; line-height: 0; }

.ht { position: absolute; }

.blind, .u_skip { visibility: hidden; overflow: hidden; position: absolute; left: -999em; width: 0; height: 0; font-size: 0; color: transparent; line-height: 0; }

.slider-nav button, .page_club .slider-nav button, .header .bi i, .header .gnb, .header .gnb li, .footer .bi i, .footer .youtube i, .footer .facebook i, .footer .twitter i, .combobox .arrow, .wrap, .footer .sns, .combobox, .symbole_thumbnail .grade .thumb_img, .symbole_thumbnail .grade .subs, .symbole_thumbnail .view_membership, .symbole_thumbnail .ask_membership { display: inline-block; *display: inline; *zoom: 1; vertical-align: top; }

.wrap { background: url(../im/body_bg/bg_main_body.jpg) no-repeat center top; }
.wrap.page_club { background-image: url(../im/body_bg/bg_club_body.jpg); }

.slider-loading { position: absolute; top: 0; left: 0; }
.slider-loading .dimmed, .slider-loading .loading { position: absolute; display: block; top: 0; left: 0; width: 100%; height: 100%; }
.slider-loading .dimmed { filter: alpha(opacity=70); opacity: 0.7; background-color: #000; }
.slider-loading .loading { background: url(../img/loading.gif) no-repeat center center; }

.slider-body { height: 418px; overflow: hidden; zoom: 1; background-color: #fff; /* .cover{@extend %inline-block;white-space:nowrap;font-size:0;position:relative;cursor: move} */ }
.slider-body .cover { cursor: move; position: absolute; left: 0; top: 0; width: 916px; height: 418px; overflow: hidden; }
.slider-body .item { position: absolute; }
.slider-body .caption { position: absolute; bottom: 0; right: 0; text-align: right; color: #fff; }
.slider-body img { vertical-align: top; }

.slider-nav { position: absolute; bottom: 7px; left: 50%; margin-left: -100px; font-size: 0; }
.slider-nav button { width: 25px; height: 24px; background-position: 4px 4px; }
.slider-nav button.av { background-position: -23px 4px; }

.slider-nav button, .page_club .slider-nav button, .header .bi i, .header .gnb, .header .gnb li, .footer .bi i, .footer .youtube i, .footer .facebook i, .footer .twitter i, .combobox .arrow { background-image: url(../im/sp_gnb.png); background-repeat: no-repeat; vertical-align: top; }

.slider-nav button, .page_club .slider-nav button { background-image: url(../im/sp_slide.png); border: 0; background-color: transparent; }

.header .bi i, .header i.gnb, .footer .bi i, .footer .youtube i, .footer .facebook i, .footer .twitter i, .combobox i.arrow, .slider-nav button i, .page_club .slider-nav button i, .info_list .thumbnail .btn_more i, .symbole_thumbnail .view_membership i, .symbole_thumbnail .ask_membership i, .slider-nav button span { font: 0/0 a; color: transparent; }

.info_list, .footer, .symbole_thumbnail .grade { zoom: 1; }
.info_list:after, .footer:after, .symbole_thumbnail .grade:after { content: ''; clear: both; height: 0; display: block; visibility: hidden; }

.header, .hero, .info_list, .footer, .container, .article { width: 916px; margin: 0 auto; position: relative; zoom: 1; }

.wrap { min-width: 100%; }

/* header */
.header { margin-bottom: 33px; z-index: 30; }
.header .bi { text-align: center; padding: 50px 0 30px; }
.header .bi i { width: 265px; height: 55px; background-position: -20px 0; }
.header .gnb { background-position: -300px 0; padding: 5px 0 5px 73px; white-space: nowrap; font-size: 0; }
.header .gnb li { background-color: #fff; line-height: 52px; height: 52px; background-position: 209px 15px; position: relative; white-space: normal; font-size: 14px; }
.header .gnb li a { color: #666; display: block; text-align: center; font-size: 1.2em; width: 210px; }
.header .gnb .membership { background-image: none; }
.header .gnb .reservation { height: 50px; border: 1px solid #299be1; background: url(../im/pt_gnb_reserve.png) repeat-x 0 0 #3baff6; overflow: hidden; }
.header .gnb .reservation a { color: #fff; }
.header .gnb .sub { display: none; }
.header .gnb li.selected a { position: relative; z-index: 20; color: #fff; }
.header .gnb li.selected .sub { display: block; }
.header .gnb .sub { position: absolute; top: 0; left: 0; width: 100%; background-color: #002859; padding-top: 52px; z-index: 10; line-height: normal; }
.header .gnb .sub li { background: none transparent; height: auto; line-height: 35px; padding-bottom: 3px; }
.header .gnb .sub a { font-size: 1.1em; }
.header .gnb .sub a:hover { color: #299be1; }

.hero { position: relative; margin-bottom: 19px; }

.info_list { width: 954px; margin-bottom: 19px; }
.info_list li { padding: 19px; float: left; }
.info_list .thumbnail { width: 280px; height: 190px; position: relative; zoom: 1; cursor: pointer; }
.info_list .thumbnail img { vertical-align: top; }
.info_list .thumbnail .subject { position: absolute; left: 0; bottom: 0; width: 100%; height: 35px; color: #fff; z-index: 20; line-height: 35px; text-indent: 12px; font-size: 0.9em; }
.info_list .thumbnail .deco { position: absolute; left: 0; bottom: 0; width: 100%; height: 35px; background-color: #002859; opacity: 0.9; filter: alpha(opacity=90); z-index: 10; }
.info_list .thumbnail .desc { position: absolute; top: 50px; left: 0; padding: 0 5px 0 17px; font-size: 0.8em; line-height: 1.7em; z-index: 20; }
.info_list .thumbnail .btn_more { background: url(../im/img_more.png) no-repeat; width: 89px; height: 27px; z-index: 20; display: block; margin-top: 15px; }
.info_list .thumbnail .desc, .info_list .thumbnail .btn_more { display: none; color: #fff; }
.info_list .hover .thumbnail .deco { top: 0; height: 100%; }
.info_list .hover .thumbnail .subject { top: 0; bottom: auto; font-size: 1.45em; font-weight: normal; padding-top: 10px; text-indent: 17px; }
.info_list .hover .thumbnail .desc, .info_list .hover .thumbnail .btn_more { display: block; }

.footer { background-color: #002f63; width: 1000px; margin-bottom: 40px; }
.footer .bi { float: left; padding: 28px 68px 28px 26px; }
.footer .bi i { width: 160px; height: 34px; background-position: 0 -70px; }
.footer .copyright { overflow: hidden; padding: 33px 0 0 0; color: #fff; }
.footer .copyright a { color: #fff; font-size: 0.9em; }
.footer .copyright .bar { padding: 0 10px; font-size: 0.9em; }
.footer .copyright p { font-size: 0.8em; padding-top: 10px; }
.footer .connect_sns { position: absolute; right: 0; top: 0; padding: 29px 29px 29px 0; }
.footer .sns { color: #fff; line-height: 26px; padding: 3px 0; margin-right: 7px; }
.footer .sns a { margin-left: 5px; }
.footer .youtube i { width: 26px; height: 26px; background-position: -180px -70px; }
.footer .facebook i { width: 26px; height: 26px; background-position: -215px -70px; }
.footer .twitter i { width: 33px; height: 26px; background-position: -249px -70px; }

.combobox { position: relative; zoom: 1; }
.combobox .cb-button { border: 1px solid #fff; background: transparent; color: #fff; height: 30px; line-height: 30px; padding: 0 12px; box-sizing: content-box; cursor: pointer; }
.combobox .arrow { width: 11px; height: 30px; background-position: -306px -68px; margin-left: 50px; }
.combobox .cb-layer { position: absolute; width: 100%; top: 100%; margin-top: -1px; }
.combobox .cb-layer ul { border: 1px solid #fff; background-color: #002f63; }
.combobox .cb-layer a { color: #fff; display: block; padding: 6px 12px 5px; }
.combobox .cb-layer a:hover { color: #002f63; background-color: #fff; }

.page_club .header { margin-bottom: 299px; }

.container { width: 1000px; background-color: #fff; border-top: 7px solid #299be1; }

.page_club .slider-body { height: 545px; }
.page_club .slider-body .cover { width: 920px; height: 545px; }
.page_club .slider-body .caption { color: #000; font-size: 1.45em; line-height: 45px; height: 45px; color: #757575; padding-right: 10px; }
.page_club .slider-nav { left: 0; margin: 0; background-color: #fff; padding: 0 20px 0 0; }
.page_club .slider-nav button { width: 26px; height: 26px; background-position: 4px -22px; }
.page_club .slider-nav button.av { background-position: -23px -22px; }

.article .sub_tit, .article .symbole_table caption { color: #299be1; font-size: 1.6em; text-align: left; padding-bottom: 8px; font-weight: normal; }

.symbole_thumbnail .grade .thumb_img, .symbole_thumbnail .view_membership, .symbole_thumbnail .ask_membership { background-image: url(../im/img_membership_grade.jpg); background-repeat: no-repeat; }

.section_head { padding: 40px; /* 	.tit{@extend %blind} */ }
.section_head .tit { font-style: normal; font-size: 2.7em; color: #299be1; font-weight: normal; line-height: 1.3em; }
.section_head .section_list { border-collapse: collapse; table-layout: fixed; position: absolute; right: 41px; top: 43px; }
.section_head .section_list td { border: 1px solid #e4e4e4; color: #999; font-size: 0.85em; text-align: center; line-height: 18px; padding: 5px 5px; letter-spacing: -1px; min-width: 118px; }
.section_head .section_list td.selected { border: 1px solid #299be1; background-color: #299be1; color: #fff; }

.page_club { /* 	.section_head .tit{background:url(../im/tit_head_club.png) no-repeat;width:492px;height:91px} */ }
.page_club .section_head .tit { width: 492px; height: 91px; }

.article { width: 920px; color: #757575; margin-bottom: 98px; }
.article .desc { font-size: 1.6em; line-height: 1.45em; }
.article .symbole_table { padding: 70px 0 40px; }
.article .symbole_table table { width: 100%; table-layout: fixed; border-collapse: collapse; }
.article .symbole_table th, .article .symbole_table td { line-height: 20px; padding: 10px 0; text-align: center; font-weight: normal; font-size: 1.2em; }
.article .symbole_table th { background-color: #299be1; color: #fff; border: 1px solid #299be1; }
.article .symbole_table th:first-child { border-right: 1px solid #e4e4e4; }
.article .symbole_table td { border: 1px solid #e4e4e4; color: #666; }
.article .symbole_table tfoot td { border: 0; text-align: left; font-size: 1em; }

.symbole_thumbnail .grade { margin-left: 10px; width: 931px; margin-left: -10px; }
.symbole_thumbnail .grade li { width: 300px; height: 350px; margin-left: 10px; float: left; }
.symbole_thumbnail .grade .thumb_img { width: 300px; height: 181px; margin-bottom: 15px; }
.symbole_thumbnail .grade strong { font-size: 1.2em; height: 22px; display: block; line-height: 22px; padding-left: 9px; margin-bottom: 10px; position: relative; zoom: 1; }
.symbole_thumbnail .grade strong .sup { font-size: 0.65em; position: relative; top: -6px; }
.symbole_thumbnail .grade .credit { position: absolute; right: 0; top: 0; border-radius: 4px; color: #fff; font-size: 0.8em; line-height: 22px; height: 22px; padding: 0 8px; font-weight: normal; }
.symbole_thumbnail .grade .credit em { font-weight: bold; }
.symbole_thumbnail .grade .subs { padding-left: 10px; color: #757575; font-size: 1em; line-height: 1.4em; }
.symbole_thumbnail .grade .preview .thumb_img { background-position: 0 0; }
.symbole_thumbnail .grade .preview strong { color: #5ba432; }
.symbole_thumbnail .grade .preview .credit { background-color: #5ba432; }
.symbole_thumbnail .grade .classic .thumb_img { background-position: -311px 0; }
.symbole_thumbnail .grade .classic strong { color: #389bd1; }
.symbole_thumbnail .grade .classic .credit { background-color: #389bd1; }
.symbole_thumbnail .grade .select .thumb_img { background-position: -621px 0; }
.symbole_thumbnail .grade .select strong { color: #f1711a; }
.symbole_thumbnail .grade .select .credit { background-color: #f1711a; }
.symbole_thumbnail .grade .elite .thumb_img { background-position: 0 -206px; }
.symbole_thumbnail .grade .elite strong { color: #58595b; }
.symbole_thumbnail .grade .elite .credit { background-color: #58595b; }
.symbole_thumbnail .grade .elite_plus .thumb_img { background-position: -311px -206px; }
.symbole_thumbnail .grade .elite_plus strong { color: #a1231d; }
.symbole_thumbnail .grade .elite_plus .credit { background-color: #a1231d; }
.symbole_thumbnail .grade .zenith .thumb_img { background-position: -621px -206px; }
.symbole_thumbnail .grade .zenith strong { color: #0a0a0a; }
.symbole_thumbnail .grade .zenith .credit { background-color: #0a0a0a; }

.symbole_thumbnail .btns { text-align: center; }
.symbole_thumbnail .view_membership, .symbole_thumbnail .ask_membership { width: 380px; height: 68px; background-position: 0 -407px; margin-right: 16px; }
.symbole_thumbnail .ask_membership { width: 400px; background-position: -400px -407px; margin-right: 0; }

/*# sourceMappingURL=celebrity.css.map */
